# Superhero Database Assignment (SQLite & Google Colab)

## Objective
In this assignment, you will design and implement a **Superhero Database** using SQLite in Google Colab. This database will store superheroes, villains, and their battles. You will write SQL queries to analyze battle outcomes and relationships between heroes and villains.

### Group Size:
- 2 to 3 students per group.

### Tools Required:
- **Google Colab**
- **SQLite (built into Python)**
- **CSV files (provided for import)**

## Step 1: Setting Up Your SQLite Database

### Tasks:
1. Initialize SQLite in Google Colab.
2. Create a database named `superhero_db.sqlite`.
3. Define the database schema, ensuring it includes the following tables:
   - `heroes`: Stores superhero names, powers, and teams.
   - `villains`: Stores villains and their evil plans.
   - `battles`: Tracks battles between heroes and villains, including the outcome.
4. Implement primary keys and foreign keys where appropriate.

✅ **Checkpoint:** Ensure that the database and tables have been successfully created.

In [1]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect('superhero_db.sqlite')
cursor = conn.cursor()

# DDL statements (using SQLite syntax)
ddl_statements = '''
CREATE TABLE IF NOT EXISTS heroes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    power TEXT NOT NULL,
    team TEXT
);

CREATE TABLE IF NOT EXISTS villains (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    evil_plan TEXT NOT NULL
);

CREATE TABLE IF NOT EXISTS battles (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_id INTEGER,
    villain_id INTEGER,
    outcome TEXT NOT NULL,
    FOREIGN KEY(hero_id) REFERENCES heroes(hero_id),
    FOREIGN KEY(villain_id) REFERENCES villains(villain_id)
);
'''

# Execute the DDL script
cursor.executescript(ddl_statements)
conn.commit()
print('Database schema created successfully.')

Database schema created successfully.

## Step 2: Import Data from CSV Files

### Tasks:
1. Download the provided CSV files.
2. Upload them to Google Colab.
3. Write a script to import data from these files into the appropriate tables.
4. Verify that the data has been successfully inserted.

✅ **Checkpoint:** Ensure that each table contains the expected data from the CSV files.

In [2]:
import pandas as pd

# import the csv files
initial_heroes = pd.read_csv("heroes.csv")
initial_villains = pd.read_csv("villains.csv")
initial_battles = pd.read_csv("battles.csv")

# verify data has been inserted
initial_heroes.head()
initial_villains.head()
initial_battles.head()

FileNotFoundError: [Errno 2] No such file or directory: 'heroes.csv'

## Step 3: Querying the Database

### Tasks:
Write SQL queries to answer the following:
1. Retrieve all superheroes and their powers.
2. Find all battles where the hero won.
3. List all villains and their evil plans.
4. Determine which superhero has fought the most battles.

✅ **Checkpoint:** Ensure that all queries return meaningful results from the database.

In [ ]:
# insert data from DataFrame into heroes table
initial_heroes.to_sql('heroes', conn, if_exists='replace', index=False)
print("Data from CSV has been inserted into the heroes table.")

# retrieve all superheroes and their powers
cursor.execute("SELECT heroes.name, heroes.power FROM heroes")
heroes_superheroes = cursor.fetchall()
print("All superheroes and their powers:")
for row in heroes_superheroes:
    print(row)

# insert data from DataFrame into battles table
initial_battles.to_sql('battles', conn, if_exists='replace', index=False)
print("Data from CSV has been inserted into the batles table.")

# retrieve all battles where the superhero won
cursor.execute("SELECT heroes.name, battles.id FROM battles JOIN heroes ON battles.hero_id = heroes.id WHERE outcome = 'Hero Wins'")
battles_hero_won = cursor.fetchall()
print("Battles where the superhero won:")
for row in battles_hero_won:
    print(row)

# insert data from DataFrame into battles table
initial_villains.to_sql('villains', conn, if_exists='replace', index=False)
print("Data from CSV has been inserted into the villains table.")


# list all villains and their evil plans
cursor.execute("SELECT villains.name, villains.evil_plan FROM villains")
villains_plan = cursor.fetchall()
print("All villains and their evil plans:")
for row in villains_plan:
    print(row)

# determine which superhero has fought the most battles
cursor.execute("SELECT heroes.name, COUNT(*) AS battles_won FROM battles JOIN heroes ON battles.hero_id = heroes.id WHERE battles.outcome = 'Hero Wins' GROUP BY heroes.name ORDER BY battles_won DESC LIMIT 1")
max_superhero = cursor.fetchall()
print("The superhero who won the most battles:")
for row in max_superhero:
    print(row)

## Step 4: Add a Custom Feature

### Tasks:
1. Design and implement an additional table related to superheroes or villains.
2. Populate it with data.
3. Write at least one query to retrieve meaningful insights from the new table.

**Examples of Custom Features:**
- Sidekicks for superheroes
- Villain hideouts
- Battle locations
- Superhero equipment

✅ **Checkpoint:** Ensure that the new table and queries function correctly.

In [6]:
# custom feature
battle_names = {
    2: "Clash of the Titans",
    5: "Web of Death",
    7: "Hulk Smash Showdown",
    8: "Dark Knight's Game",
    9: "Wakanda Reckoning",
    13: "Speed Force Fight",
    20: "Shadow of the Night",
    29: "Gotham's Last",
    30: "Thunder's Wrath"
}

# Update the battle_name column with creative names
for battle_id, battle_name in battle_names.items():
    cursor.execute("UPDATE battles SET battle_name = ? WHERE id = ?", (battle_name, battle_id))


# Commit changes
conn.commit()

# Query to retrieve updated battles where the superhero won
cursor.execute(query)
updated_battles_hero_won = cursor.fetchall()

# Display results
updated_battles_hero_won

OperationalError: no such column: battle_name

## Bonus Challenge (+5 Points)

### Tasks:
1. Enhance your project by adding a visual or interactive component.

**Options:**
- Visualize battles using Matplotlib (e.g., a bar chart showing how many battles each superhero has fought).
- Make it interactive (e.g., allow users to input a superhero name and display their battles).

✅ **Checkpoint:** If attempting the bonus, ensure that your visualization or interactive component works correctly.

In [4]:
import matplotlib.pyplot as plt

# Query to count the number of battles each superhero has fought
battle_count_query = """
SELECT heroes.name, COUNT(battles.id) AS battle_count
FROM battles
JOIN heroes ON battles.hero_id = heroes.id
GROUP BY heroes.name
ORDER BY battle_count DESC
"""
cursor.execute(battle_count_query)
battle_counts = cursor.fetchall()

# Extract data for visualization
superheroes = [row[0] for row in battle_counts]
battle_counts = [row[1] for row in battle_counts]

# Create bar chart
plt.figure(figsize=(8, 6))
plt.barh(superheroes, battle_counts, color='powderblue')
plt.xlabel("Number of Battles")
plt.ylabel("Superheroes Names")
plt.title("Number of Battles Each Superhero Has Fought")
plt.gca().invert_yaxis()  # Invert y-axis to show highest values on top

# Display the chart
plt.show()

SyntaxError: invalid non-printable character U+00A0 (<ipython-input-4-468989be9e41>, line 24)

## Submission Guidelines

Each group must submit a **Google Colab Notebook (.ipynb)** containing:
- ✅ **Database schema (DDL)**
- ✅ **CSV imports & data insertion (DML)**
- ✅ **SQL queries & results**
- ✅ **Custom feature (bonus if applicable)**

## Grading Criteria (Total: 25 Points)

| Section                 | Points |
|-------------------------|--------|
| Database Setup          | 5      |
| Data Importing         | 10     |
| Querying the Data      | 10     |
| Extra Feature          | 5      |
| Bonus Challenge (Optional) | +5  |

### Final Notes:
- Be **creative** when designing superheroes and villains.
- **Comment your code** to explain its functionality.
- **Have fun** building your superhero universe!